import ComponentTypes from '@theme-original/NavbarItem/ComponentTypes';
import LocaleDropdown from '@theme/LocaleDropdown';
import VersionDropdown from '@theme/VersionDropdown';

export default {
  ...ComponentTypes,
  'custom-locale': LocaleDropdown,
  'custom-version': VersionDropdown,
};
