import ComponentTypes from '@theme-original/NavbarItem/ComponentTypes';
import LocaleDropdown from '@theme/LocaleDropdown';

export default {
  ...ComponentTypes,
  'custom-locale': LocaleDropdown,
};
